{{ ansible_managed|comment }}

# Required settings
lang en_US.UTF-8
keyboard us
rootpw {{ root_password }}
authconfig --enableshadow --enablemd5
timezone {{ timezone }}

# Optional settings
autopart
bootloader --location=mbr
cdrom
clearpart --all --initlabel
firewall --disabled
firstboot --disabled
install
network --bootproto=dhcp
reboot
selinux --disabled
skipx
text
zerombr

# Packages
%packages --ignoremissing
@Base
curl
gcc
kernel-devel
kernel-headers
make
perl
wget
%end

# Post
%post
/usr/bin/yum -y update
/usr/bin/yum -y install epel-release
/usr/bin/yum -y install facter sudo
/usr/sbin/groupadd {{ default_username }}
/usr/sbin/useradd {{ default_username }} -g {{ default_username }} -G wheel
echo "{{ default_password }}"|passwd --stdin {{ default_username }}
echo "{{ default_username }}        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
%end
