{
  "esxi_remote_password": "{{ esxi_password }}",
  "esxi_remote_username": "{{ esxi_username }}",
  "vcenter_password": "{{ vcenter_password }}",
  "vcenter_username": "{{ vcenter_username }}",
  "vm_ssh_password": "{{ default_password }}",
  "vm_ssh_username": "{{ default_username }}",
  "vm_winrm_password": "{{ default_password }}",
  "vm_winrm_username": "{{ default_username }}"
}
